<div class="container well">
    <p>I am a highly skilled Frontend internet developer with 7 years professional experience, looking to take my role to the next level.</p>
    <p>I have worked with the latest client side and server side technologies for large internet commerce websites, and a mobile development agency.</p>
    <p>I am highly motivated both individually and as a team player, used to liaising with marketing and design departments to achieve objectives, and implement new features.</p>
    <p>I manage my workload in a pressurised fast paced environment, working to tight deadlines whilst producing top quality code.</p>
    <p>I am experienced in all parts of development from requirements capture, technical design, implementation, testing and release.</p>
    <p>I have used scrum and lean working practices to manage and plan team work loads as well as XP practices such as test driven development to guide the development process.</p>
    <p>I have a personal interest in accessibility across desktop and mobile platforms.</p>

</div>

{{#page.roles}}
	<article class="panel panel-default">
		<h3 class="panel-heading"><a href="{{url}}">{{company}}</a></h3>
		<div class="panel-body">
			<p>
				<strong>{{title}}</strong>
				<span class="role-date">
					{{startDate}} - {{#endDate}}{{endDate}}{{/endDate}}{{^endDate}}Current{{/endDate}}
				</span>
			</p>
			{{#coreSkills.length}}
			<p>Sills used: {{#coreSkills}}{{.}}, {{/coreSkills}}</p>
			{{/coreSkills.length}}
			<p>{{description}}</p>
		</div>
	</article>

{{/page.roles}}

<article class="panel panel-default">
	<h3 class="panel-heading"><a href="{{url}}">Education</a></h3>
	<p class="panel-body">description</p>
</article>
