<div class="container well">
	<p>Some gumph about me.</p>
	<p>Maybe include some useful links like github etc</p>
	<p>Could be worth putting some of this in the page config so that it's accessable to other pages.</p>
</div>

<article class="panel panel-default">
	<h3 class="panel-heading"><a href="{{url}}">Current roll</a></h3>
	<p class="panel-body">description</p>
</article>

<article class="panel panel-default">
	<h3 class="panel-heading"><a href="{{url}}">Past roll 1</a></h3>
	<p class="panel-body">description</p>
</article>

<article class="panel panel-default">
	<h3 class="panel-heading"><a href="{{url}}">Past roll 2</a></h3>
	<p class="panel-body">description</p>
</article>

<article class="panel panel-default">
	<h3 class="panel-heading"><a href="{{url}}">Education</a></h3>
	<p class="panel-body">description</p>
</article>
