<div class="container well">
	<p>Some gumph about me.</p>
	<p>Maybe include some useful links like github etc</p>
	<p>Could be worth putting some of this in the page config so that it's accessable to other pages.</p>
</div>

{{#page.roles}}
	<article class="panel panel-default">
		<h3 class="panel-heading"><a href="{{url}}">{{company}}</a></h3>
		<div class="panel-body">
			<p>
				<strong>{{title}}</strong>
				<span class="role-date">
					{{startDate}} - {{#endDate}}{{endDate}}{{/endDate}}{{^endDate}}Current{{/endDate}}
				</span>
			</p>
			{{#coreSkills.length}}
			<p>Sills used: {{#coreSkills}}{{.}}, {{/coreSkills}}</p>
			{{/coreSkills.length}}
			<p>{{description}}</p>
		</div>
	</article>

{{/page.roles}}

<article class="panel panel-default">
	<h3 class="panel-heading"><a href="{{url}}">Education</a></h3>
	<p class="panel-body">description</p>
</article>
