<div class="jumbotron masthead">
  <p class="lead">Hi I'm Qazzian.</p>
  <p class="lead">Here you can find out more about me and some of the projects I've been working on.</p>

  <h2>Top Projects</h2>

  <article>
    <h3><a href="/projects/SiteBuilder.html">Static Site Builder</h3>
    <p>
      A <a href="http://nodejs.org">Nodejs</a> project to build a static site from a number of config files and mustache templates.
    </p> 
  </article>

  <article>
    <h3><a href="/projects/CrackAttack.html">Crack Attack</a></h3>
    <p>A game</p>
  </article>


</div>


