<div class="well">
	<p class="lead">Hi I'm Ian.</p>
	<p class="lead">I am a Frontend web developer. See more about what I do in my <a href="/about.html">about page</a>.
	</p>
	<p class="lead">I also have a number of personal projects on the go. See below for a highlight of my most recent
		work.
	</p>

	{{#pageIndex.projects.children}}
		<article>
			<h3><A href="{{url}}">{{title}}</a></h3>
			<p>{{description}}</p>
		</article>
	{{/pageIndex.projects.children}}
</div>


