<ul class="list-unstyled list-group">
	{{#page.children}}
	<li>
		<article class="list-group-item">
			<h3><a href="{{url}}">{{pageName}}</a></h3>
			<p class="">{{description}}</p>
		</article>
	</li>
	{{/page.children}}
</ul>