<h2>Projects</h2>

<ul class="unstyled">
	{{#page.children}}
	<li>
		<article class="well">
			<h3><a href="{{url}}">{{pageName}}</a></h3>
			<p class="">{{description}}</p>
		</article>
	</li>
	{{/page.children}}
</ul>