.nav > .active > a {
	color: rgba(223, 186, 164, 1);
	text-shadow: -2px 2px 0 rgba(145, 118, 102, 1);
}

.small-print {
	font-size: small;
}

.build-time {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0px 5px;
}
