{{^config.useLess}}
	<link rel="stylesheet" href="{{config.assetRoot}}/css/bootstrap.css" />
{{/config.useLess}}
<!-- site wide specific styles -->
{{#config.css}}
	<link rel="stylesheet" href="{{config.assetRoot}}{{.}}" />
{{/config.css}}
<!-- Page specific styles -->
{{#page.css}}
	<link rel="stylesheet" href="." />
{{/page.css}}