<link rel="stylesheet" href="{{config.assetRoot}}/css/bootstrap.min.css" />
<!-- site wide specific styles -->
{{#site.css}}
	<link rel="stylesheet" href="." />
{{/site.css}}
<!-- Page specific styles -->
{{#page.css}}
	<link rel="stylesheet" href="." />
{{/page.css}}