<!-- Footer ================================================== -->
<footer class="footer navbar navbar-inverse" role="navigation">
	<div class="row">
		<section class="footer-section">
			<ul class="list-inline footer-links">
				<li><a class="navbar-link" href="http://www.qazzian.co.uk">Blog</a></li>
				<li><a class="navbar-link" href="http://www.github.com/qazzian">Github</a></li>
				<li><a class="navbar-link" href="http://www.twitter.com/qazzian">Twitter</a></li>
			</ul>
		</section>
		<section class="footer-section">
			Built with <a class="navbar-link" href="http://twitter.github.com/bootstrap">Bootstrap</a> &amp; <a class="navbar-link" href="http://www.bootswatch.com">bootswatch</a>
		</section>
	</div>
	<div class="row small-print muted">
		<section class="footer-section copyright">Copyright Qazzian</section>
		<section class="footer-section license">This site is private to me</section>
		<section class="footer-section build-time ">  Built: {{buildTime}}</section>
	</div>
</footer>