<!-- Footer ================================================== -->
<footer class="footer">
	<div class="">
		Copyright Qazzian <br />
		<ul class="inline footer-links">
			<li><a href="http://www.qazzian.co.uk">Blog</a></li>
			<li><a href="http://www.github.com/qazzian">Github</a></li>
			<li><a href="http://www.twitter.com/qazzian">Twitter</a></li>
		</ul>
		<p>
			Built with <a href="http://twitter.github.com/bootstrap">Bootstrap</a> &amp; <a href="http://www.bootswatch.com">bootswatchs</a>
		</p>
		<span class="build-time muted small-print ">  Built: {{buildTime}}</span>
	</div>
</footer>