<!-- Footer ================================================== -->
<footer class="container footer navbar navbar-inverse" role="navigation">
	<div class="row">
		<ul class="list-inline footer-links col-md-6">
			<li><a class="navbar-link" href="http://www.qazzian.co.uk">Blog</a></li>
			<li><a class="navbar-link" href="http://www.github.com/qazzian">Github</a></li>
			<li><a class="navbar-link" href="http://www.twitter.com/qazzian">Twitter</a></li>
		</ul>
		<p class="col-md-6 text-right">
			Built with <a class="navbar-link" href="http://twitter.github.com/bootstrap">Bootstrap</a> &amp; <a class="navbar-link" href="http://www.bootswatch.com">bootswatch</a>
		</p>
	</div>
	<div class="row">
		<p class="col-md-4 small-print copyright muted">Copyright Qazzian</p>
		<p class="col-md-4 small-print license muted">This site is private to me</p>
		<p class="col-md-4 build-time muted small-print ">  Built: {{buildTime}}</p>
	</div>
</footer>