		<!-- javascript -->
		<!-- <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script> -->
		<!-- site wide specific scripts -->
		{{#config.javascript}}
			<script src="{{.}}"></script>
		{{/config.javascript}}

		{{! Note that we expect a fully qulified url here. 
			If it's local the assetRoot needs to be added within the context builder. }}
			<!-- Page specific scripts -->
		{{#page.javascript}}
			<script src="{{.}}"></script>
		{{/page.javascript}}