<!-- MainMenu ================================================== -->
{{#pages.length}}
<ul class="nav navbar-nav">
	{{#pages}}
		<li {{#selected}}class="active" {{/selected}}><a href="{{{url}}}">{{pageName}}</a></li>
	{{/pages}}
</ul>
{{/pages.length}}
<!-- MainMenu END ================================================== -->
