<!-- TODO Need to check on the bootstrap way of defining a menu
Also need to think about the structure -->
<!-- MainMenu ================================================== -->
{{#pages.length}}
<div class="navbar navbar-inverse">
	<ul class="nav">
		{{#pages}}
			<li {{#selected}}class="active" {{/selected}}><a href="{{{url}}}">{{pageName}}</a></li>
		{{/pages}}
	</ul>
</div>
{{/pages.length}}
<!-- MainMenu END ================================================== -->