<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{#page.title}}{{page.title}} - {{/page.title}}{{config.siteName}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{{#page.description}}<meta name="description" content="{{page.description}}">{{/page.description}}
		{{^page.description}}<meta name="description" content="{{config.description}}">{{/page.description}}
		{{#page.keywords}}<meta name="keywords" content="{{page.keywords}}">{{/page.keywords}}
		{{^page.keywords}}<meta name="keywords" content="{{config.keywords}}">{{/page.keywords}}
		<meta name="author" content="{{config.contact}}">

		<script type="text/javascript">
			if (!location.hostname.match(/qazzian\.com?(\.uk)?/)) {
				location.reload();
			}
		</script>

		<!-- styles -->

		{{#config.useLess}}
			{{>less}}
		{{/config.useLess}}
		{{>css}}

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="{{config.assetRoot}}/js/html5shiv.js"></script>
		<![endif]-->

		<!-- fav and touch icons -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{config.assetRoot}}/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{config.assetRoot}}/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{config.assetRoot}}/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="{{config.assetRoot}}/ico/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="{{config.assetRoot}}/ico/favicon.png">
	</head>

	<body data-spy="scroll" data-target=".bs-docs-sidebar">

		<!-- Navbar ================================================== -->
		<header class="container navbar navbar-inverse" role="navigation">
			<nav class="navbar-inner">
				<a class="navbar-brand brand" href="{{pages.0.url}}">{{config.siteName}}</a>
				{{>MainMenu}}
			</nav>
		</header>

		<main class="container">
			{{>page}}
		</main>
	
		{{>footer}}
		
		{{>js}}

	</body>
</html>
